*   {
    margin:                 0;
    padding:                0;
    text-decoration:        none;
    font-family:            Verdana;  
}

html    {
    height:         	100%;
    width:          	100%; 
    /*'background-image: -ms-linear-gradient(right bottom, white 0%, #9FBFD2 100%); IE Präfix*/
    background-image: 	linear-gradient(180deg, rgba(110,205,0,0.5) 0%, white 100%);
    background-attachment:	fixed; 
    /*background:			rgba(110,205,0,0.5);*/
    font-size:			16pt;
}

body    {
    height:         100%;
    width:          100%;
    text-align:		center;
    display:		block;
}

h1  {
	font-size:		150%;
}

h2  {
    padding:                1px 0px 4px 10px;
    font-size:              130%;
}

h3	{
	font-size:			100%;
	font-weight:		bold;
}

p	{
	margin:			10px auto;
}

label	{
	display:		table-cell;
	padding:		10px 30px;
	vertical-align:	middle;
}

noscript div	{
	color:			red;
	font-weight:	bold;
	width:			100%;
	background:		rgba(80,80,80,0.9);
	margin:			0;
}

input[type=number]:disabled	{
	width:			auto;
	border:			0;
	box-shadow:		none;
	background:		none;
    -moz-appearance:textfield;
    font-size:		100%;
    color:			black;
    text-align:		center;
}

input[type=number]:focus:disabled	{
	box-shadow:		none;
}

input[type=number]:disabled::-webkit-outer-spin-button,
input[type=number]:disabled::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form	{
	display:		table;
	margin:			30px auto;
}

#form input[type=number]	{
	display:		table-cell;
	float:			none;
	margin:			10px;
}

#toolBar	{
	width:			100%;
	background:		rgba(80,80,80,0.9);
	color:			white;
	font-size:		95%;
	/*position:		absolute;
	z-index:		2;*/
}

.step	{
	float:			left;
	padding:		2px 7px;
}

#step_active	{
	height:			100%;
	float:			left;
	background:		rgba(110,205,0,0.5);
}

#toolBar ul:after {
    clear:				both;
    content:			" ";
    display:			block;
    font-size:			0;
    height:				0;
    visibility:			hidden;
}

#toolBar ul li {
    list-style:			none;
    float:				right;
    text-align:			left;
}

#toolBar ul li a {
    text-decoration: 	none;
    display: 			block;
    color: 				rgba(110,210,0,1);
    height:				100%;
    padding:			2px 7px;
    border-left:		1px solid white/*rgba(110,205,0,0.5)*/;
}

#toolBar ul li a:hover {
    background: 		rgba(110,210,0,1);
    color:				rgba(50,50,50,1);
}

#toolBar ul li:hover > ul {
    visibility: visible;
}
#toolBar ul li ul	{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}
#toolBar ul li ul li	{
    float: none;
    border: 0;
    text-align:			center;
    color: 				rgba(110,210,0,1);
	background:		rgba(80,80,80,0.9);
}
#toolBar ul li ul li a:hover	{
    color: #333;
    border: 0;
}

#inhalt {
	height: 		auto;
	width:			auto;
	display:		inline-block;
	border-radius:	10px;
	vertical-align:	middle;
	margin:			90px auto;
	padding:		0px 50px 30px 50px;
    box-shadow: 	2px 5px 5px rgba(80,80,80,0.3);
	/*background-image: 	linear-gradient(-45deg, rgba(150,150,150,1) 0%, rgba(230,230,230,1) 100%);*/
	background:		rgb(200,200,200);
}

#header	{
	font-size:			130%;
	margin:				-55px 0 30px -25px;
	position:			relative;
	text-align:			left;
}

input[type="text"], input[type="password"],
 input[type="email"], input[type="number"], textarea	{
 	width:				60px;
 	margin:				5px 10px;
	float:				right;
	border-radius:		5px;
	height:				25px;
	padding:			5px 15px;
	border:				1px solid #AAA;
	box-shadow:			0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

input[type="text"]:focus, input[type="password"]:focus,
 input[type="email"]:focus, input[type="number"]:focus, textarea:focus	{
	box-shadow:			0px 0px 5px #999;
}

.round	{
	border-radius:		50%;
	width:				30px;
	height:				30px;
	font-size:			100%;
	color:				rgba(50,50,50,1);
	vertical-align:		middle;
	border:				0px;
	background:			rgba(110,210,0,1);
	margin:				5px auto;
}

.round:hover, .round:active	{
	color:					rgba(110,210,0,1);
	background:				rgba(50,50,50,1);	
}

input[type=submit], input[type=button], #inhalt a:link, #inhalt a:visited	{
	font-size:			100%;
	color:				rgba(50,50,50,1);
	padding:			4px 7px;
	border:				0px;
	/*border:				1px solid #AAA;
	box-shadow:			1px 1px 2px #888;*/
	border-radius:		2px;
	background:			rgba(110,210,0,1);
	margin:				5px;
}

#inhalt a:hover, #inhalt a:active, #inhalt a:focus, input[type=submit]:hover, input[type=button]:hover	{
	/*box-shadow:			0px 0px 5px #999 inset;*/
	/*box-shadow:			none;*/
	color:					rgba(110,210,0,1);
	background:				rgba(50,50,50,1);	
}

#exclude	{
	display:			table;
	text-align:			center;
	margin:				0 auto;
}

#package	{
	margin:				10px auto;
}

#input-file	{
	display:			none;
}

form#login	{
	display:			inline-block;
	margin:				0 auto;
}

.cell	{
	display:			table-cell;
}

.arrangementTable input[type="number"]	{
	float:				none;
	width:				60px;
}

.arrangementTable	{
	margin:				5px;
	display:			table;
}

.row	{
	display:			table-row;
}

#logout	{
	position:		relative;
	float:			right;
	margin:			1%;
}

#chartWrapper	{
	width:			100%;
	height:			95%;
	padding-top:	2%;
	background:		white;
	position:		absolute;
}

#placeholder	{
	width:			95%;
	height:			90%;
	margin:			45px auto;
}

.error	{
	font-size:		70%;
	display:		table-cell;
	color:			red;
	vertical-align:	middle;
	text-align:		center;
	margin:			auto;
}

#customerTable	{
	float:			left;
}

#salesmanTable	{
	float:			right;
}

.errorDiv	{
	color:			red;
}

.seuccessDiv	{
	color:			green;
}