*   {
    margin:             0;
    padding:            0;
    text-decoration:    none;
    font-family:       	Verdana, Arial, sans-serif;  
}

html    {
    height:         	100%;
    width:          	100%; 
    /*'background-image: -ms-linear-gradient(right bottom, white 0%, #9FBFD2 100%); IE Präfix*/
    background-image: 	linear-gradient(180deg, rgba(110,205,0,0.7) 0%, rgba(110,205,0,0.6) 100%);
    /*background-color:	rgba(110,205,0,0.5);*/
    background-attachment:	fixed;
    /*background:			rgba(110,205,0,0.5);*/
    font-size:			16pt;
}

body    {
    height:         	100%;
    width:      	    100%;
    text-align:			center;
    display:			block;
}

h1  {
	font-size:			150%;
	z-index:			1;
}

h2  {
    padding:            1px 0px 4px 10px;
    font-size:          130%;
    margin:				15px auto;
}

h3	{
	font-size:			110%;
	font-weight:		bold;
	text-align:			center;
    margin:				15px auto;
}

p	{
	margin:				10px auto;
}

label	{
	display:			table-cell;
	padding:			10px 15px;
	vertical-align:		middle;
}

noscript div	{
	color:				red;
	font-weight:		bold;
	font-size:			120%;
	width:				98%;
	position:			fixed;
    z-index: 			100;
	background:			rgba(210,210,210,0.95);
	margin:				0;
	padding:			1%;
}

select	{
	display:			table-cell;
 	width:				120px;
 	margin:				5px 10px;
	padding:			3px 4px;
}

select option	{
	padding:			3px 4px;
}

/*
################## Classes #######################
*/

.textarea	{
	max-width:			800px;
	
}

.errorDiv	{
	color:				red;
	font-size:			110%;
	max-width:			700px;
	margin:				10px auto 20px auto;
}

.successDiv	{
	color:				green;
	font-size:			110%;
	max-width:			700px;
	margin:				10px auto 20px auto;
}

.successDiv label	{
	padding:			2px 5px;
}

.successDiv input[type=text]	{
	margin:				2px 10px !important;
}

.textBlock	{
	max-width:			650px;
	margin:				20px auto;
}

.form	{
	display:			table;
	margin:				30px auto;
}

.small	{
	font-size:			60%;
	width:				80px;
	margin:				auto;
	vertical-align:		middle;
}

.leftCell	{
	display:			table-cell;
	text-align:			left;
}

.cell	{
	padding:			1px;
	display:			table-cell;
	text-align:			center;
}

.arrangementTable input[type="number"]	{
	float:				none;
	width:				60px;
}

.arrangementTable	{
	margin:				5px;
	border-collapse:	collapse; 
}

.row	{
	display:			table-row;
}

.errorRow	{
	display:			table-row;
}

.step	{
	float:				left;
	padding:			2px 7px;
}

.error	{
	font-size:			70%;
	display:			table-cell;
	color:				red;
	vertical-align:		middle;
	text-align:			center;
	margin:				auto;
}

.round	{
	border-radius:		50%;
	width:				30px;
	height:				30px;
	font-size:			100%;
	color:				rgba(50,50,50,1);
	vertical-align:		middle;
	border:				0px;
	background:			rgba(110,210,0,1);
	margin:				5px auto;
	cursor:				pointer;
}

.round:hover, .round:active	{
	color:				rgba(110,210,0,1);
	background:			rgba(50,50,50,1);	
}

.addRow	{
	border-radius:		2px;
	width:				100%;
	height:				30px;
	font-size:			100%;
	color:				rgba(50,50,50,1);
	vertical-align:		middle;
	border:				0px;
	background:			rgba(110,210,0,1);
	margin:				5px auto;
	cursor:				pointer;
}

.addRow:hover, .addRow:active	{
	color:				rgba(110,210,0,1);
	background:			rgba(50,50,50,1);	
}

/*
###################### input types ####################
*/

input[type=submit], input[type=button], #inhalt a:link, #inhalt a:visited	{
	font-size:			100%;
	color:				rgba(50,50,50,1);
	padding:			4px 7px;
	border:				0px;
	/*border:			1px solid #AAA;
	box-shadow:			1px 1px 2px #888;*/
	border-radius:		2px;
	background:			rgba(110,210,0,1);
	margin:				5px;
	cursor:				pointer;
}

#inhalt a:hover, #inhalt a:active, #inhalt a:focus, input[type=submit]:hover, input[type=button]:hover	{
	/*box-shadow:		0px 0px 5px #999 inset;*/
	/*box-shadow:		none;*/
	color:				rgba(110,210,0,1);
	background:			rgba(50,50,50,1);	
}

input[type="text"], input[type="password"],
 input[type="email"], input[type="number"], textarea	{
 	width:				60px;
 	margin:				5px 10px;
	border-radius:		5px;
	height:				25px;
	padding:			5px 15px;
	border:				1px solid rgb(210,210,210);
	/*box-shadow:			0px 1px 2px rgba(0, 0, 0, 0.2) inset;*/
}

input[type="text"]:focus, input[type="password"]:focus,
 input[type="email"]:focus, input[type="number"]:focus, textarea:focus	{
	/*box-shadow:			0px 0px 5px #999;*/
	border:				1px solid rgba(110,210,0,1) !important;
}

input[readonly="readonly"], input[readonly]	{
 	margin:				5px 10px;
	border:				0;
	box-shadow:			none;
	background:			none;
    -moz-appearance:	textfield;
    font-size:			100%;
    color:				black;
    text-align:			center;
    cursor:				default;
}

input[readonly="readonly"]:focus, input[readonly]:focus	{
	box-shadow:			none;
	border:				0 !important;
}

input[readonly="readonly"]::-webkit-outer-spin-button,
input[readonly]::-webkit-outer-spin-button,
input[readonly="readonly"]::-webkit-inner-spin-button,
input[readonly]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 			0;
}

#form input[type=number]	{
	display:			table-cell;
	float:				none;
	margin:				10px;
}

input[type=checkbox]	{
	vertical-align:		middle;
	margin:				15px 0 0 10px;
}

.successDiv input[readonly="readonly"], .successDiv input[readonly]	{
	text-align:			left;
	float:				left;
	color:				green;
	padding:			0;
	margin:				10px 0;
	vertical-align:		middle;
}

/*
################################# ToolBar ##############################
*/

#toolBar img	{
	float:				left;
	height:				30px;
}

#toolBar	{
	position:			fixed;
	width:				100%;
	background:			/*rgba(159,47,16,0.8);*/ rgba(80,80,80,0.9);
	color:				white;
	font-size:			95%;
    z-index: 			99;
}

#toolBar ul:after {
    clear:				both;
    content:			" ";
    display:			block;
    font-size:			0;
    height:				0;
    visibility:			hidden;
}

#toolBar ul li {
    list-style:			none;
    float:				right;
    text-align:			left;
}

#toolBar ul li a {
    text-decoration: 	none;
    display: 			block;
    color: 				rgba(110,210,0,1);
    height:				100%;
    padding:			2px 7px;
    border-left:		1px solid white/*rgba(110,205,0,0.5)*/;
}

#toolBar ul li a:hover {
    background: 		rgba(110,210,0,1);
    color:				rgba(50,50,50,1);
}

#toolBar ul li:hover > ul {
    visibility: 		visible;
}

#toolBar ul li ul	{
	width:				inherit;
    display: 			inline;
    visibility: 		hidden;
    position: 			absolute;
    padding:			0px;
}

#toolBar ul li ul li	{
	float:				none;
	display:			block;
	position:			relative;
    /*float: 				none;*/
    text-align:			center;
    color: 				rgba(110,210,0,1);
	background:			rgba(80,80,80,0.9);
}

#toolBar ul li ul li a:hover	{
    color: 				#333;
}

/*
############################### Footer #################################
*/

#footer	{
	padding:			3%;
	vertical-align:		bottom;
	width:				94%;
	/*background:			rgba(80,80,80,0.9);*/
	color:				black;
}

/*
############################### General #################################
*/

#heading	{
	font-weight:		bold;
	font-size:			210%;
	padding-top:		50px;
}

#step_active	{
	height:				100%;
	float:				left;
	background:			rgba(110,205,0,0.7);
}

#inhalt {
	height: 			auto;
	width:				auto;
	display:			inline-block;
	border-radius:		5px;
	vertical-align:		middle;
	margin:				7% auto 40px auto;
	padding:			0px 40px 30px 40px;
	/*box-shadow: 		0px 1px 3px rgba(0, 0, 0, 0.5);*/
   	/*box-shadow: 		0 0 3px rgba(80,80,80,0.3);*/
	background:			rgb(225,225,225);
	border:				1px solid rgb(220,220,220);
}

#header	{
	font-size:			125%;
	margin:				-58px auto 30px auto;
	position:			relative;
	text-align:			left;
}

#exclude	{
	display:			table;
	text-align:			center;
	margin:				0 auto;
}

#package	{
	margin:				10px auto;
}

#input-file	{
	display:			none;
}

form#login	{
	display:			inline-block;
	margin:				0 auto;
}

#chartWrapper	{
	width:				100%;
	height:				100%;
	background:			white;
	position:			absolute;
	z-index:			0;
}

#placeholder	{
	width:				97%;
	height:				93%;
	margin:				3% auto 0 auto;
}

#statsContainer			{
	position:			relative;
	float:				right;
	margin:				4% 3%;
	padding:			1%;
	background:			rgba(110,205,0,0.7);
	z-index:			1;
}

#statsData				{
	display:			none;
}

#dropdown.rotate		{
	-ms-transform: 		rotate(180deg); /* IE 9 */
    -webkit-transform: 	rotate(180deg); /* Chrome, Safari, Opera */
    transform:			rotate(180deg);
}

#card			{
	background:			white;
	position:			relative;
	padding:			5% 0 5%;
	width:				400px;
	height:				20%;
	font-family:		Helvetica;	
}

#customerTable	{
	float:				left;
}

#salesmanTable	{
	float:				right;
}
