<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<object  th:include="resources :: meta">
	</object>
	<script src="/js/jquery-2.1.1.min.js" ></script>

    <title th:text="#{titles.generate}"></title>
    
</head>
 <body>
 	<div th:replace="resources :: toolBar(prepare, 4, 0)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (generate)">
	 	</div>
	 	<div class="textarea" th:text="#{generate.hint}"></div>
	 	<br />
	 	<a href="/pdf/cards/customer" th:text="#{prepare.savePDF.customer}" target="_blank"></a>
	 	<a href="/pdf/cards/salesman" th:text="#{prepare.savePDF.salesman}" target="_blank"></a>
	 	<br /><br />
	 	<div class="successDiv" th:text="#{generate.finished}"></div>
	</div>
 </body>
</html>