<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<object  th:include="resources :: meta">
	</object>
    <title th:text="#{titles.welcome}">Willkommen</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var falseContentType = /*[[${falseContentType}]]*/;
    /*]]>*/
    </script>
    <script th:src="@{/js/script.js}"></script>
	<script src="/js/jquery-2.1.1.min.js" ></script>
    
</head>
 <body>
 	<div th:replace="resources :: toolBar(0, lang, -1)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div th:replace="resources :: globalHeading">
 	</div>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (welcome)">
	 	</div>
		<div class="errorDiv" id="fileError"></div>
	 	<div class="errorDiv" th:if="${error}" th:text="#{error.__${error}__}"></div>
	 	<br />
		<p><a href="prepare1.html" th:text="#{index.prepare}">Vorbereitung</a></p>
		<br />
		<form name="loadGame" method="POST" th:action="load1.html" enctype="multipart/form-data" >
			<input type="file" id="input-file" name="input-file" accept="text/plain" onchange="javascript:checkFile(this);"/>
			<input type="button" th:value="#{index.loadGame}" onclick="$('#input-file').click();"/>
		</form>
		<br />
	 	<p><a href="settings.html" th:text="#{messages.settings}">Einstellungen</a></p>
	</div>
	<div th:replace="resources :: footer">
 	</div>
 </body>
</html>