<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="#{titles.load}">Spiel laden</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var pack = /*[[#{load.package}]]*/;
    	var firstID = /*[[${firstID}]]*/;
    	var numberOfPlayers = /*[[${numberOfPlayers}]]*/;
    	var percent = /*[[#{prepare.percent}]]*/ 'Anteil';
    	var currency = /*[[#{prepare.currency}]]*/ 'Preis';
    /*]]>*/
    </script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/distributionUtils.js}"></script>
    
</head>
 <body onload="javascript:updateInputs(); javascript:updateSum(false);">
 	<div th:replace="resources :: toolBar(load, 1, 0)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
 	<div th:replace="resources :: heading (load1)">
 	</div>
 	<div th:if="${error}" class="errorDiv" th:text="#{error.__${error}__}"></div>
 	<!-- For Showing the IP Address -->
	 	<h2 th:text="#{load.address}">Adresse dieses Rechners</h2>
	 	<div class="errorDiv textBlock" th:if="${ipError}" th:text="#{load.__${ipError}__}"></div>
	 	<div th:each="ip : ${IPs}">
	 		<div th:text="${ip} + ':' + ${port}"></div>
	 	</div>
	 	<br />
	 	<div class="textBlock" style="padding-bottom: 30px; border-bottom: 2px solid black;" th:text="#{load.hintAddress}"></div>
	 	<!-- Display Game Data ###################################################### -->
	 	
	 	<h3 th:text="#{load.hintWhichLoaded}"></h3>
	 	<br />
	 	<div th:text="#{prepare.numberOfPlayers} + ': ' + ${numberOfPlayers}"></div>
	 	<div th:text="#{prepare.numberOfAssistants} + ': ' + ${numberOfAssistants}"></div>
	 	<br />
	 	<h3 th:text="#{prepare.customerGroups}" style="float: left;">Käufergruppen</h3>
		<h3 th:text="#{prepare.salesmanGroups}" style="float: right;">Verkäufergruppen</h3>
		<p style="clear: both;"></p>
		<form name="arrangement" id="arrangement" method="POST" >
			<div id="customerTable" class="arrangementTable">
				<div class="row">
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
					<div th:if="!*{isStandard}" class="cell" th:text="#{prepare.removeRow.heading}"></div>
				</div>
				<div class="row" th:id="'cRow' + ${iter.index}" th:each="customer,iter : ${customerConfiguration}">
					<div class="cell">
						<input type="number" name="cRelativeQuantity[]" th:id="'cRelativeQuantity[' + ${iter.count} + ']'" th:placeholder="#{prepare.percent}" th:value="${customer.value.relative}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" name="cPrice[]" th:id="'cPrice[' + ${iter.count} + ']'" th:placeholder="#{prepare.currency}" th:value="${customer.key}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" name="cAbsoluteQuantity[]" th:id="'cAbsoluteQuantity[' + ${iter.count} + ']'" th:value="${customer.value.absolute}" readonly="readonly" />
					</div>
				</div>
				<div class="row" style="border-top: 1px solid black;">
					<div class="cell" id="customerTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="customerTotalAbsolute"></div>
				</div>
			</div>
			<div id="salesmanTable" class="arrangementTable">
				<div class="row">
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
				</div>
				<div class="row" th:id="'sRow' + ${iter.index}" th:each="salesman,iter : ${salesmanConfiguration}">
					<div class="cell">
						<input type="number" name="sRelativeQuantity[]" th:id="'sRelativeQuantity[' + ${iter.count} + ']'" th:placeholder="#{prepare.percent}" th:value="${salesman.value.relative}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" name="sPrice[]" th:id="'sPrice[' + ${iter.count} + ']'" th:placeholder="#{prepare.currency}" th:value="${salesman.key}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" name="sAbsoluteQuantity[]" th:id="'sAbsoluteQuantity[' + ${iter.count} + ']'" th:value="${salesman.value.absolute}" readonly="readonly" />
					</div>
				</div>
				<div class="row" style="border-top: 1px solid black;">
					<div class="cell" id="salesmanTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="salesmanTotalAbsolute"></div>
				</div>
			</div>
		</form>
		<p style="clear: both;"></p>
		<input type="hidden" id="cGroupQuantity" name="cGroupQuantity" th:value="${cGroupQuantity}" />
		<input type="hidden" id="sGroupQuantity" name="sGroupQuantity" th:value="${sGroupQuantity}" />
		<br />
	 	<a href="load2.html" th:text="#{load.goOn}" th:onclick="'if(!confirm(\'' + #{load.confirm} + '\')) return false;'">Weiter</a>
	</div>
 </body>
</html>
