<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="#{titles.load}">Spiel laden</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var pack = /*[[#{load.package}]]*/;
    	var percent = /*[[#{prepare.percent}]]*/ 'Anteil';
    	var currency = /*[[#{prepare.currency}]]*/ 'Preis';
    	var allGiven = /*[[#{load.allGiven}]]*/;
    /*]]>*/
    </script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/formValidation.js}"></script>
    <script th:src="@{/js/distributionUtils.js}"></script>
    <script th:src="@{/js/excludeUtils.js}"></script>
    
</head>
 <body th:onload="'createExcludeFields(' + ${numberOfAssistants} + ');'">
 	<div th:replace="resources :: js">
	</div>
 	<div th:replace="resources :: toolBar(load, 2, 0)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (load2)">
	 	</div>
	 	<div th:if="${error}" class="errorDiv" th:text="#{error.__${error}__}"></div>
	 	<!-- Excluding Cards ###################################################### -->
		 <form th:action="load2.html" name="exclude" id="exclude" method="POST" onsubmit="return validateForm(this.id);">
		 	<div th:text="#{load.hintExclude}"></div>
			 <div class="form" id="excludeDiv" name="excludeDiv" > 
			 </div>
			<input type="submit" th:value="#{load.start}" />
		</form>
	</div>
 </body>
</html>
