<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="#{titles.load}">Spiel laden</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var pack = /*[[#{load.package}]]*/;
    	var firstID = /*[[${firstID}]]*/;
    	var numberOfPlayers = /*[[${numberOfPlayers}]]*/;
    	var percent = /*[[#{prepare.percent}]]*/ 'Anteil';
    	var currency = /*[[#{prepare.currency}]]*/ 'Preis';
    /*]]>*/
    </script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/formValidation.js}"></script>
    <script th:src="@{/js/distributionUtils.js}"></script>
    <script th:src="@{/js/excludeUtils.js}"></script>
    
</head>
 <body th:onload="(${param.s} AND ${param.s[0]} == 2)? 'createExcludeFields(' + ${numberOfAssistants} + ');' : 'updateArrangement();'">
 	<div id="toolBar">
 		<div id="path">
 			<div th:class="step" th:id="(${param.s} AND ${param.s[0]} == 1)? 'step_active'" th:text="#{path.load.step1}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div th:class="step" th:id="(${param.s} AND ${param.s[0]} == 2)? 'step_active'" th:text="#{path.load.step2}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step3}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step4}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step5}"></div>
 		</div>
 		<ul>
	 		<li>
	 			<a href="index.html" th:text="#{messages.welcome}" ></a>
	 		</li>
	 		<li>
 				<a th:href="(${param.s} AND ${param.s[0]} == 1)? 'index.html' : 'load.html?s=1'" th:text="#{messages.back}" ></a>
	 		</li>
		</ul>
 	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (load + (${param.s}? (${param.s[0]}?: '1') : '1'))">
	 	</div>
	 	<div th:if="${error}" class="errorDiv" th:text="#{error.__${error}__}"></div>
	 	<!-- For Showing the IP Address -->
	 	<div th:if="!${param.s} OR ${param.s[0]} == 1">
		 	<h2 th:text="#{load.address}">Adresse dieses Rechners</h2>
		 	<div class="errorDiv textBlock" th:if="${ipError}" th:text="#{load.multipleIP}"></div>
		 	<div th:each="ip : ${IPs}">
		 		<div th:text="${ip} + ':' + ${port}"></div>
		 	</div>
		 	<br />
		 	<div class="textBlock" style="padding-bottom: 30px; border-bottom: 2px solid black;" th:text="#{load.hintAddress}"></div>
		 	<!-- Display Game Data ###################################################### -->
		 	
		 	<h3 th:text="#{load.hintWhichLoaded}"></h3>
		 	<br />
		 	<div th:text="#{prepare.numberOfPlayers} + ': ' + ${numberOfPlayers}"></div>
		 	<div th:text="#{prepare.numberOfAssistants} + ': ' + ${numberOfAssistants}"></div>
		 	<br />
		 	<h3 th:text="#{prepare.customerGroups}" style="float: left;">Käufergruppen</h3>
			<h3 th:text="#{prepare.salesmanGroups}" style="float: right;">Verkäufergruppen</h3>
			<p style="clear: both;"></p>
			<div id="customerTable" class="arrangementTable">
				<div class="row">
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
				</div>
				<div class="row" th:each="customer,iter : ${customerConfiguration}">
					<div class="cell">
						<input type="number" th:id="'cRelativeQuantity[' + ${iter.count} + ']'" th:value="${customer.value.relative}" readonly="readonly"/>
					</div>
					<div class="cell">
						<input type="number" th:value="${customer.key}" readonly="readonly"/>
					</div>
					<div class="cell">
						<input type="number" th:id="'cAbsoluteQuantity[' + ${iter.count} + ']'" th:value="${customer.value.absolute}" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="cell" id="customerTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="customerTotalAbsolute"></div>
				</div>
			</div>
			<div id="salesmanTable" class="arrangementTable">
				<div class="row">
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
				</div>
				<div class="row" th:id="'row' + ${iter.count}" th:each="salesman,iter : ${salesmanConfiguration}">
					<div class="cell">
						<input type="number" th:id="'sRelativeQuantity[' + ${iter.count} + ']'" th:value="${salesman.value.relative}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" th:value="${salesman.key}" readonly="readonly" />
					</div>
					<div class="cell">
						<input type="number" th:id="'sAbsoluteQuantity[' + ${iter.count} + ']'" th:value="${salesman.value.absolute}" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="cell" id="salesmanTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="salesmanTotalAbsolute"></div>
				</div>
			</div>
			<p style="clear: both;"></p>
			<input type="hidden" id="groupQuantity" name="groupQuantity" th:value="${groupQuantity}" />
		 	<br />
		 	<a href="/load.html?s=2" th:text="#{load.goOn}" th:onclick="'if(!confirm(\'' + #{load.confirm} + '\')) return false;'">Weiter</a>
	 	</div>
	 	
	 	<!-- Excluding Cards -->
	 	<div th:if="${param.s} AND ${param.s[0]} == 2">
		 	<form th:action="load.html" name="exclude" id="exclude" method="POST" onsubmit="return validateForm(this.id);">
		 		<div th:text="#{load.hintExclude}"></div>
			 	<div class="form" id="excludeDiv" name="excludeDiv" > 
			 	</div>
			 	<p style="clear:both;"></p>
				<input type="submit" th:value="#{load.start}" />
			</form>
		</div>
	</div>
 </body>
</html>
