<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta name="description" content=""/>
	    <meta name="author" content=""/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    	<script th:src="@{/js/script.js}"></script>
    	<script th:src="@{/js/formValidation.js}"></script>
    	
        <title th:text="#{titles.login}">jKMS - Login</title>
    </head>
    <body>
	 	<div id="toolBar">
	 		<ul>
	 			<li>
	 				<a href="#" th:text="#{settings.language}"></a>
	 				<ul>
	 					<li th:each="lang : ${languages}" >
	 						<a th:href="'index.html?lang=' + ${lang.key}" th:text="${lang.value}"></a>
	 					</li>
	 				</ul>
	 			</li>
	 		</ul>
	 	</div>
	 	<div th:replace="resources :: js">
		</div>
	 	<noscript>
	 		<div th:text="#{noscript}"></div>
	 	</noscript>
		<div th:replace="resources :: globalHeading">
 		</div>
		<div id="inhalt">
			<div th:replace="resources :: heading (login)">
 			</div>
			<div class="errorDiv" th:if="${param.error}" th:text="#{login.error}">
            	Benutzername oder Passwort ungültig.
        	</div>
        	<div class="successDiv" th:if="${param.logout}" th:text="#{login.logout}">
            	You have been logged out.
        	</div>
        	<form id="login" th:action="@{/login}" method="post" onsubmit="return validateForm(this.id);">
        		<div class="form">
	        		<div class="row">
	            		<input type="text" id="username" name="username" th:placeholder="#{login.name}" style="width: 120px;" />
	            	</div>
	            	<div class="row">
	            		<div id="errorusername" class="error"></div>
	            	</div>
	            	<div class="row">
            			<input type="password" id="password" name="password" th:placeholder="#{login.password}" style="width: 120px;" />
            		</div>
	            	<div class="row">
	            		<div id="errorpassword" class="error"></div>
					</div>
            	</div>
            	<input type="submit" value="Anmelden" th:value="#{buttons.login}" />
        	</form>
		</div>
		<div th:replace="resources :: footer">
 		</div>
    </body>
</html>