<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="#{titles.lottery}">Auslosung</title>
    <script th:src="@{/js/script.js}"></script>
    
</head>
 <body>
 	<div id="toolBar">
 		<div id="path">
 			<div class="step" th:text="#{path.load.step1}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step2}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step3}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" id="step_active" th:text="#{path.load.step4}"></div>
 		</div>
 		<ul>
	 		<li>
	 			<a href="index.html" th:text="#{backSign} + #{messages.welcome}" ></a>
	 		</li>
	 		<li>
	 			<a href="evaluate.html" th:text="#{messages.back}" ></a>
	 		</li>
	 		<li>
	            <a href="#" th:text="#{messages.export}"></a>
	            <ul>
			 		<li><a href="/pdfDownload" th:text="#{messages.export.pdf}" ></a></li>
			 		<li><a href="/csv" th:text="#{messages.export.csv}" ></a></li>
				</ul>
			</li>
		</ul>
 	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (lottery)"></div>
	 	<div style="font-size:130%; margin-bottom:25px;">  And the winner is ... </div>
	 	<div id="card" style="float:left; margin-bottom:25px;">
	 		<div th:text="#{lottery.buyer}"></div> 
	 		<div th:text="#{PDFBuyer.value} + ': ' + ${wtp} + '€'"></div>
	 		<div th:text="'ID:' + ${buyerID}"></div>	 		
	 	</div>
	 	<div id="card" style="float:right; margin: 0px 0px 25px 50px;">
	 		<div th:text="#{lottery.seller}"></div> 
	 		<div th:text="#{PDFSeller.value} + ': ' + ${cost} + '€'"></div>
	 		<div th:text="'ID:' + ${sellerID}"></div> 		
	 	</div>
	 	
	 	<div id="winner">
		 	<div th:text="#{lottery.contract} + ': ' + ${price} + '€'" style="margin-bottom:25px;"></div>
		 	<div th:class="((${bprofit} >= '0')? 'successDiv' : 'errorDiv')" th:text="((${bprofit} >= '0')? #{lottery.bprofit} : #{lottery.bLoss}) + ': ' + ${bprofit} + '€'"></div>
		 	<div th:class="((${sprofit} >= '0')? 'successDiv' : 'errorDiv')" th:text="((${sprofit} >= '0')? #{lottery.sprofit} : #{lottery.sLoss}) + ': ' + ${sprofit} + '€'"></div> 	
	 	</div>
	 	<div style="margin-top:3%; float:right; font-size:80%">
	 		<a href="/lottery?repeat=true" th:text="#{lottery.repeat}" ></a>
	 	</div>
	</div>
 </body>
</html>