<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<object  th:include="resources :: meta">
	</object>

    <title th:text="#{titles.play}"></title>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/drawChart.js}"></script>
	<script src="/js/jquery-2.1.1.min.js" ></script>
	<script src="/js/flot/jquery.flot.js" ></script>
	<script src="/js/jquery.flot.axislabels.js" ></script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    	var xAxis = /*[[#{play.xAxis}]]*/;
    	var yAxis = /*[[#{play.yAxis}]]*/;
    /*]]>*/
    </script>
    
</head>
 <body>
 	<div th:replace="resources :: toolBar(0, (${param.s} AND ${param.s[0]})? 'play2' : 'play1', -2)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="chartWrapper">		
		<div id="placeholder">
		</div>
	</div>
		<script type="text/javascript">
			
			var options = {	xaxis:{
							minTickSize: 1,
							autoscaleMargin:0.02,
							tickDecimals: 0
							},
							lines:{show:false}
			}
	
			$.plot($("#placeholder"), [[[0,0],[1,100]]] , options);	
		
			$(document).ready(function(){
				
				setInterval(function(){getData()},1000);				
			});
			
		</script>
 </body>
</html>