<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="#{titles.play}"></title>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/drawChart.js}"></script>
	<script src="/js/jquery-2.1.1.min.js" ></script>
	<script src="/js/flot/jquery.flot.js" ></script>
    
</head>
 <body>
 	<div id="toolBar">
 		<div id="path">
 			<div class="step" th:text="#{path.load.step1}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step2}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" id="step_active" th:text="#{path.load.step3}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step4}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.load.step5}"></div>
 		</div>
 		<ul>
 			<li>
 				<a href="index.html" th:text="#{messages.welcome}" ></a>
 			</li>
 			<li>
 				<a th:if="!${param.s} OR ${param.s[0]} != 'stop'" href="load.html?s=2" th:text="#{messages.back}" ></a>
 			</li>
 			<li>
				<a th:if="!${param.s}" href="play.html?s=stop" th:text="#{play.stop}" onclick="stopGame();"></a>
			</li>
			<li>
				<a th:if="${param.s} AND ${param.s[0]} == 'stop'" th:href="evaluate.html" th:text="#{play.evaluate}"></a>
			</li>
		</ul>
 	</div>
	<div id="chartWrapper">
		<div id="prototypInput" th:style="${param.s}? 'display:none' : 'display:box'">
			<label for="lastValue">Wert hinzufügen</label>
			<input name="lastValue" id="lastValue" type="text" style="float:left"/>
			<input type="button" id="button" value="Wert einzeichnen" onclick="insertValue();" style="float:left"/>
		</div>		
		<div id="placeholder">
		</div>
	</div>
		<script type="text/javascript">
			
			var options = {	xaxis:{
							minTickSize: 1,
							autoscaleMargin:0.02,
							tickDecimals: 0
							},
							lines:{show:false}
			}
	
			$.plot($("#placeholder"), [[[0,40],[1,60]]] , options);	
		
			$(document).ready(function(){
				$.ajax({
					type: "Get",
					url: "getData.html",
					success: function(response) {drawPlayChart(response);},
					error: function(e){alert('Error' + e);}
				});
			});
		</script>
 </body>
</html>