<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<script src="/js/jquery-2.1.1.min.js" ></script>

    <title th:text="#{titles.prepare}">Vorbereitung</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var totalOV = /*[[#{prepare.totalOV}]]*/ 'Mehr als 100% sind nicht erlaubt.';  
    	var group = /*[[#{prepare.group}]]*/ 'Gruppe';
    	var percent = /*[[#{prepare.percent}]]*/ 'Anteil';
    	var currency = /*[[#{prepare.currency}]]*/ 'Preis';
    	var numberOfPlayers = /*[[${numberOfPlayers}]]*/;
    /*]]>*/
    </script>
    <script th:src="@{/js/script.js}"></script>
    
</head>
 <body th:onload="${addEmptyRows}? 'addRow(); addRow();' : 'createErrorFields(\'arrangement\', 2); updateArrangement();'">
 	<div id="toolBar">
 		<div id="path">
 			<div class="step" th:text="#{path.step1}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" id="step_active" th:text="#{path.step2}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.step3}"></div>
 		</div>
 		<ul>
 			<li>
 				<a href="index.html" th:text="#{messages.welcome}" ></a>
 			</li>
 			<li>
 				<a href="prepare1.html" th:text="#{messages.back}" ></a>
 			</li>
 		</ul>
 	</div>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (prepare2)">
	 	</div>	
	 	<div th:text="#{prepare.numberOfPlayers} + ': ' + ${numberOfPlayers}"></div>
		<form name="arrangement" id="arrangement" method="POST" th:action="generate.html" onChange="updateArrangement();" onsubmit="return validateForm(this.id);">
			<h2 th:text="#{prepare.customerGroups}" style="float: left;">Käufergruppen</h2>
			<h2 th:text="#{prepare.salesmanGroups}" style="float: right;">Verkäufergruppen</h2>
			<p style="clear: both;"></p>
			<div id="customerTable" class="arrangementTable">
				<div class="row">
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
				</div>
				<div class="row" th:each="customer,iter : ${customerConfiguration}">
					<div class="cell">
						<input type="number" th:name="'c' + ${iter.count} + 'relativeQuantity'" th:id="'c' + ${iter.count} + 'relativeQuantity'" th:placeholder="#{prepare.percent}" th:value="${customer.value}" th:readonly="*{isStandard}"/>
					</div>
					<div class="cell">
						<input type="number" class="cell" th:name="'c' + ${iter.count} + 'price'" th:placeholder="#{prepare.currency}" th:value="${customer.key}" th:readonly="*{isStandard}"/>
					</div>
					<div class="cell" th:id="'c' + ${iter.count} + 'absoluteQuantity'"></div>
				</div>
				<div class="row">
					<div class="cell" id="customerTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="customerTotalAbsolute"></div>
				</div>
			</div>
			<div id="salesmanTable" class="arrangementTable">
				<div class="row">
					<div th:if="!*{isStandard}" class="cell" th:text="#{prepare.removeRow}"></div>
					<div class="cell" th:text="#{prepare.relativeQuantity}"></div>
					<div class="cell" th:text="#{prepare.price}"></div>
					<div class="cell" th:text="#{prepare.absoluteQuantity}"></div>
				</div>
				<div class="row" th:id="'row' + ${iter.count}" th:each="salesman,iter : ${salesmanConfiguration}">
					<div th:if="!*{isStandard}" class="cell">
						<a th:href="'javascript:removeRow(' + ${iter.count} + ');'">-</a>
					</div>
					<div class="cell">
						<input type="number" th:name="'s' + ${iter.count} + 'relativeQuantity'" th:id="'s' + ${iter.count} + 'relativeQuantity'" th:placeholder="#{prepare.percent}" th:value="${salesman.value}" th:readonly="*{isStandard}" />
					</div>
					<div class="cell">
						<input type="number" th:name="'s' + ${iter.count} + 'price'" th:placeholder="#{prepare.currency}" th:value="${salesman.key}" th:readonly="*{isStandard}" />
					</div>
					<div class="cell" th:id="'s' + ${iter.count} + 'absoluteQuantity'"></div>
				</div>
				<div class="row">
					<div th:if="!*{isStandard}" class="cell"></div>
					<div class="cell" id="salesmanTotalRelative"></div>
					<div class="cell" th:text="#{prepare.total}"></div>
					<div class="cell" id="salesmanTotalAbsolute"></div>
				</div>
				<div th:if="!*{isStandard}" class="row">
					<div class="round" onclick="javascript:addRow();">+</div>
				</div>
			</div>
			<p style="clear: both;"></p>
			<input type="hidden" name="groupQuantity" th:value="${groupQuantity}" />
			
			<input type="file" id="input-file" onchange="document.arrangement.action = 'prepare2.html?c=load'; document.arrangement.submit();"/>
			<input type="button" value="Konfiguration laden" th:value="#{prepare.loadConfig}" onclick="$('#input-file').click();"/>
			
			<input type="submit" th:value="#{prepare.generatePDF}" />
		</form>
	</div>
 </body>
</html>