<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
	<script src="/js/jquery-2.1.1.min.js" ></script>
	<script src="/js/script.js" ></script>
    <script th:src="@{/js/formValidation.js}"></script>

    <title th:text="#{titles.prepare}">Vorbereitung</title>
    
</head>
 <body>
 	<div id="toolBar">
 		<div id="path">
 			<div class="step" id="step_active" th:text="#{path.step1}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.step2}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.step3}"></div>
 			<div class="step" th:text="'>'"></div>
 			<div class="step" th:text="#{path.step4}"></div>
 		</div>
 		<ul>
 			<li>
 				<a href="index.html" th:text="#{messages.welcome}" ></a>
 			</li>
 			<li>
 				<a href="index.html" th:text="#{backSign} + #{messages.back}" ></a>
 			</li>
 		</ul>
 	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (prepare1)">
	 	</div>
	 	<div class="errorDiv" th:if="${error}" th:text="#{error.__${error}__}"></div>
		<form method="POST" th:action="'prepare2.html?c=load'" id="config" name="config" onsubmit="return validateForm(this.id);">
			<div id="form">
				<div class="row">
					<label for="players" th:text="#{prepare.numberOfPlayers}"></label>
					<input type="number" id="players" name="players" th:value="${numberOfPlayers != 0}? ${numberOfPlayers}"/>
				</div>
				<div class="row">
					<div class="cell"></div>
					<div class="error" id="errorplayers"></div>
				</div>
				<div class="row">
					<label for="assistants" th:text="#{prepare.numberOfAssistants}"></label>
					<input type="number" id="assistants" name="assistants" th:value="${numberOfAssistants != 0}? ${numberOfAssistants}"/>
				</div>
				<div class="row">
					<div class="cell"></div>
					<div class="error" id="errorassistants"></div>
				</div>
			</div>
			<input type="submit" value="Standardkonfiguration" th:value="#{prepare.standardConfig}" th:formaction="'prepare1.html?c=standard'"/>
			<input type="submit" value="Eigene Konfiguration" th:value="#{prepare.ownConfig}" th:formaction="'prepare1.html?c=own'"/>
		</form>
	</div>
 </body>
</html>