<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/formValidation.js}"></script>

    <title th:text="#{titles.settings}">Einstellungen</title>
    
</head>
 <body>
 	<div th:replace="resources :: js">
	</div>
 	<div id="toolBar">
 		<ul>
 			<li>
 				<a href="index.html" th:text="#{messages.welcome}" ></a>
 			</li>
 			<li>
 				<a href="index.html" th:text="#{messages.back}" ></a>
 			</li>
 			<li>
 				<a href="#" th:text="#{settings.language}"></a>
 				<ul>
 					<li th:each="lang : ${languages}" >
 						<a th:href="'index.html?lang=' + ${lang.key}" th:text="${lang.value}"></a>
 					</li>
 				</ul>
 			</li>
 		</ul>
 	</div>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (settings)">
	 	</div>	
	 	<div class="errorDiv" th:if="${error}" th:text="#{error.settings.__${error}__}">
        </div>
        <div class="successDiv" th:if="${success}" th:text="#{settings.success}">
        </div>
	 	<h2 th:text="#{settings.language}"></h2>
	 	<a th:each="lang : ${languages}" th:href="'index.html?lang=' + ${lang.key}" th:text="${lang.value}"></a>
	 	<br /><br />
	 	<h2 th:text="#{settings.users}"></h2>
	 	<form method="POST" th:action="'settings.html'" id="userForm" name="userForm" onsubmit="return validateForm(this.id);">
		 	<div id="form">
		 		<div class="row">
					<label for="users" th:text="#{settings.username}"></label>
				 	<select name="users">
				 		<option th:each="user : ${users}" th:text="${user}"></option>
				 	</select>
		 		</div>
				<div class="row">
					<label for="oldPass" th:text="#{settings.oldPass}"></label>
					<input type="password" id="oldPass" name="oldPass"/>
				</div>
				<div class="row">
					<div class="cell"></div>
					<div class="error" id="erroroldPass"></div>
				</div>
				<div class="row">
					<label for="pass1" th:text="#{settings.pass1}"></label>
					<input type="password" id="pass1" name="pass1"/>
				</div>
				<div class="row">
					<div class="cell"></div>
					<div class="error" id="errorpass1"></div>
				</div>
				<div class="row">
					<label for="pass2" th:text="#{settings.pass2}"></label>
					<input type="password" id="pass2" name="pass2"/>
				</div>
				<div class="row">
					<div class="cell"></div>
					<div class="error" id="errorpass2"></div>
				</div>
			</div>
			<br />
			<input type="submit" th:value="#{buttons.submit}"/>
	 	</form>
	 	
	</div>
 </body>
</html>