<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<object  th:include="resources :: meta">
	</object>

    <title th:text="#{titles.error}"></title>
    
</head>
 <body>
 	<div th:replace="resources :: toolBar(0, 0, 0)">
	</div>
 	<noscript>
 		<div th:text="#{noscript}"></div>
 	</noscript>
	<div id="inhalt">
	 	<div th:replace="resources :: heading (error)">
	 	</div>
		<div id='created' th:text="${timestamp}"></div>
		<div class="textarea" th:text="#{error.hint}">
		</div>
		<div class="textarea" th:text="#{error.type} + ': ' + ${error}">
		</div>
		<div class="textarea" th:text="#{error.message} + ': ' + ${message}"></div>
	</div>
 </body>
</html>